.button-menu {
    -fx-border-color: yellow;
    -fx-border-width: 5;
    -fx-background-color: black;
    -fx-fill-width: true;
    -fx-text-fill: white;
    -fx-min-width: 200px;
    -fx-font-family: Dialog;
    -fx-min-height: 74px;
    -fx-cursor: hand;
}

.button-menu:hover {
    -fx-font-size: 150%;
}

.menu-container {
    -fx-background-color: black;
}